article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px
}

button.btn.btn-primary.banner.sales-button {
    border: 1px solid #131313;
    background-color: #fff!important;
    color: #131313;
    font-size: 14px!important;
    height: 100%;
    padding: 10px 20px;
    font-weight: 300
}

button.btn.btn-primary.banner.header-button {
    height: 100%;
    padding: 8px 16px
}

* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: segoe ui
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #2c3e50;
    background-image: none
}

select::-ms-expand {
    display: none
}

.select {
    position: relative;
    display: flex;
    width: 230px;
    height: 42px;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    margin-bottom: 20px
}

select {
    flex: 1;
    color: #fff;
    cursor: pointer;
    padding-left: 15px;
    font-size: 16px
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease
}

.select:hover::after {
    color: #f39c12
}

#quote-carousel {
    padding: 0 10px 30px;
    margin-top: 10px
}

#quote-carousel .carousel-control {
    background: 0 0;
    color: #cacaca;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px
}

#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0;
    margin-top: 20px;
    margin-right: -19px
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    border-radius: 50%;
    opacity: .4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
    display: none
}

#quote-carousel .carousel-indicators .active {
    width: 80px;
    height: 80px;
    opacity: 1;
    transition: all .2s;
    display: block;
    margin: 0 auto!important
}

.item blockquote {
    border-left: none;
    margin: 0
}

.item blockquote p:before {
    content: "\f10d";
    font-family: fontawesome;
    float: left;
    margin-right: 10px
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-chevron-right:before {
    content: "\f054"
}

.fa-chevron-left:before {
    content: "\f053"
}

._temtl_desc {
    font-weight: 300;
    color: #333;
    font-family: roboto;
    letter-spacing: .9px;
    line-height: 30px
}

.carousel-control.right {
    margin-right: -20px
}

.carousel-control.left {
    margin-left: -20px
}

@media(max-width:991px) and (min-width:768px) {
    button.btn.btn-primary.banner {
        background: #f44e03!important;
        color: #fff;
        font-family: poppins
    }
    .col-12.text-left {
        width: 475px!important
    }
    .col-12.text-right {
        width: 580px!important
    }
    .lead {
        font-size: 26px!important
    }
}

.contact.contact-us-one {
    display: block;
    float: left;
    background-color: rgba(255, 255, 255, .9);
    padding: 0 15px 15px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.contact-us-wrapper {
    background: #fff
}

.statusMessage {
    opacity: 1;
    text-align: center;
    display: none;
    margin: auto;
    float: left;
    width: 400px;
    height: 80px;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

button#sendMessage {
    margin-top: 20px;
    background: #03a9f4!important;
    display: block!important;
    font-size: 16px;
    font-weight: 400
}

#contact {
    padding-top: 10px!important;
    background: #fff
}

.statusMessage p {
    color: #fff!important
}

.sending-message {
    background: #34495e
}

.success-message {
    background: #2ecc71
}

.failure-message {
    background: #e74c3c
}

.-cstadd {
    width: 100%!important;
    padding: 20px 25px!important;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #f2f2f2
}

.cstright {
    display: inline-block;
    margin-left: 15px
}

.font-14 {
    color: #666;
    font-size: 22px
}

.mg-bt {
    margin-bottom: 80px
}

.contact-sv {
    display: inline-block
}

.contact-sm {
    font-size: 18px;
    vertical-align: top
}

.contact-sm a {
    color: #03a9f4;
    font-weight: 300
}

.navbar-fixed-bottom {
    display: none
}

a.sr.try-btn.red.download-button {
    color: #fff;
    font-size: 18px;
    font-weight: 400
}

.try-btn-container {
    margin: 15px 15px 0 0;
    float: right;
    visibility: hidden
}

.pb100 {
    padding-top: 10px
}

@media(max-width:768px) {
    .pb100 {
        padding-bottom: 2px!important;
        margin-bottom: 50px!important;
        border: none!important
    }
    .pt100 {
        padding-top: 2px!important
    }
    .font-14 {
        font-size: 18px!important
    }
    .contact-sm {
        font-size: 16px!important
    }
    .try-btn-container {
        margin: -36px 64px 0 0
    }
    .navbar-fixed-bottom {
        bottom: 0;
        margin-bottom: 0;
        border-width: 1px 0 0;
        border: 1px solid #f2f2f2;
        background: #03a9f4;
        padding: 15px;
        text-align: center;
        color: #fff;
        display: block
    }
}

@media(max-width:768px) {
    .col-md-6 {
        padding: 0
    }
    .contact.contact-us-one {
        padding: 15px 0
    }
    .form-group {
        padding: 5px 0
    }
    .mg-bt {
        margin-bottom: 30px;
        display: none
    }
}

html {
    overflow-x: hidden
}

body {
    font-family: poppins;
    width: 100%;
    position: relative;
    float: left;
    overflow-x: hidden;
    padding: 0!important
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 2px!important;
    margin-bottom: 100px
}

a#desktopAppMainLink {
    color: #2196f3;
    font-size: 18px;
    text-decoration: none;
    font-family: poppins;
    font-weight: 400
}

.modal-body {
    padding: 15px;
    width: 1120px;
    margin: 0 auto;
    margin-bottom: 50px
}

.modal-dialog {
    width: 1200px
}

.modal-title {
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
    font-family: poppins;
    font-weight: 300;
    color: #282828
}

.modal-header .close {
    margin-top: 30px;
    margin-left: 30px;
    top: 0;
    opacity: 1;
    font-size: 36px;
    right: 0;
    margin-right: 55px;
    position: absolute
}

.close {
    opacity: 1;
    font-size: 36px;
    margin-left: 20px;
    color: #666
}

.modal-title-second {
    font-size: 24px;
    text-align: center;
    color: #282827;
    font-weight: 300;
    font-family: roboto;
    letter-spacing: .9px
}

.retry-dwn {
    text-align: center;
    margin-right: 10px;
    margin-top: 20px
}

.dwn-text {
    font-size: 18px;
    margin-right: 10px
}

.dwn-lnk {
    font-size: 18px;
    margin-right: 10px
}

.dwn-hlp {
    font-size: 18px;
    margin-left: 10px
}

.cust-dwn {
    text-align: center;
    margin-top: 20px
}

.cust-txt {
    font-size: 22px;
    color: #282828;
    font-family: roboto;
    float: left
}

.dwn-tag {
    color: #03a9f4;
    font-size: 18px
}

.app-desc-col {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
    color: #333;
    font-weight: 100;
    font-family: roboto;
    letter-spacing: .9px
}

ul.nav.nav-tabs.modal-demo {
    border: none;
    display: inline-block;
    width: 300px;
    margin-right: 15px
}

h2.modal-title-text {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    color: #282828;
    font-weight: 300;
    font-family: roboto;
    letter-spacing: .9px
}

h3.modal-title-text {
    font-size: 28px;
    margin-bottom: 30px;
    color: #282828;
    font-weight: 300;
    font-family: roboto;
    letter-spacing: .9px;
    margin-left: 20px;
    text-align: center
}

li.demo-tab {
    float: none;
    border: solid 1px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: #d2d2d2 solid 1px;
    text-align: center
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #f9f9f9;
    border: none
}

li.active {
    float: none;
    border: #ddf4fd solid 1px;
    background: #ddf4fd;
    border: none;
    border-radius: 5px
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: #ddf4fd;
    border: none;
    color: #282828;
    letter-spacing: .9px;
    font-family: roboto;
    text-align: center
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent
}

.navbar-inverse .navbar-nav>li>a {
    color: #313131;
    font-size: 18px;
    margin: 5px 15px
}

a.model-tab-link {
    font-size: 22px;
    color: #3c3d47;
    padding: 10px 15px!important
}

.tab-content.modal-demo {
    width: 700px;
    display: inline-block;
    vertical-align: top
}

.tab-content>.active {
    background: #f9f9f9;
    padding: 20px 30px;
    border-radius: 5px;
    margin-left: 15px;
    line-height: 34px
}

.instruction-title {
    font-size: 22px;
    margin: 10px 0 30px;
    font-weight: 500;
    font-family: home_menu-wrapper aos-init;
    letter-spacing: .9px;
    text-align: center
}

p.instructions {
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 400;
    color: #666;
    font-family: roboto;
    letter-spacing: .9px
}

.row {
    margin-right: 0;
    margin-left: 0
}

img {
    width: 100%
}

.font-weight-light {
    font-size: 44px;
    color: #282828!important;
    font-weight: 500;
    font-family: poppins;
    letter-spacing: .9px
}

.logo {
    width: 32px;
    height: 32px;
    float: left;
    margin-top: 7px;
    background-image: url(https://cdn.bizanalyst.in/assets/img/logo/logo-32x32.png)
}

header {
    height: 90px;
    position: fixed;
    top: 0;
    transition: top .2s ease-in-out;
    width: 100%;
    transition: all .5s linear;
    z-index: 99
}

.download-ios-header {
    background: #f9f9f9;
    height: 90px;
    top: 0;
    transition: top .2s ease-in-out;
    width: 100%
}

header.active.nav-down {
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    height: 110px;
    background: #fff
}

.header {
    margin-bottom: 50px
}

.masthead {
    overflow: hidden;
    margin-bottom: 100px
}

.first-col {
    margin-top: 150px
}

@media(max-width:768px) {
    .masthead {
        height: 100%;
        margin-bottom: 80px!important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat
    }
    .font-weight-light {
        font-size: 32px
    }
    .first-col {
        margin-top: 50px!important
    }
    header.active.nav-down {
        height: 80px!important;
        z-index: 9999
    }
}

.h-100header {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 50px
}

@media(max-width:1091px) {
    button.btn.btn-primary.banner {
        margin-right: 0!important;
        font-size: 16px;
        font-weight: 300;
        width: 134x!important;
        height: 40px;
        font-size: 12px!important;
        padding: 8px!important
    }
    .nav>.nav-links {
        margin-top: 32px
    }
}

@media(max-width:921px) {
    .h-100header {
        margin-left: 16px;
        margin-right: 16px
    }
}

.col-12.text-left.col-sm-6 {
    padding-right: 0!important;
    padding-left: 0!important
}

.play-video {
    vertical-align: text-top
}

svg#play-1 {
    width: 22px;
    height: 22px;
    vertical-align: text-bottom;
    margin-right: 8px
}

@media(max-width:768px) {
    svg#play {
        width: 20px!important;
        height: 20px!important;
        margin-right: 5px
    }
}

svg#play {
    height: 20px;
    width: 20px;
    vertical-align: sub
}

#right-arrow {
    height: 20px;
    width: 20px;
    vertical-align: middle
}

.container {
    margin: 0 auto!important
}

@media(max-width:768px) {
    .container {
        width: 100%;
        padding-left: 20px!important;
        padding-right: 20px!important
    }
}

a.nav-item.nav-link {
    font-size: 20px;
    color: #333;
    font-family: poppins
}

.row.h-100.align-items-center {
    display: flex;
    margin-left: 0!important;
    margin-right: 0!important;
    justify-content: center;
    align-items: center
}

@media(max-width:768px) {
    .col-12.text-left {
        width: 100%;
        margin-bottom: 50px;
        padding: 0
    }
    .row.h-100.align-items-center {
        display: block!important
    }
}

@media(max-width:768px) {
    .col-12.text-right {
        width: 100%;
        display: block
    }
}

.over-lay {
    display: none;
    position: absolute;
    top: 0;
    width: 30%
}

.col-12.text-right:hover .over-lay {
    display: block
}

h1 {
    font-size: 48px!important;
    color: #666!important
}

@media(max-width:768px) {
    h1 {
        font-size: 32px!important
    }
}

.lead {
    font-size: 32px!important;
    color: #666;
    font-family: roboto;
    margin-top: 20px;
    font-weight: 400
}

.lead-sm {
    font-size: 26px!important;
    color: #666;
    font-family: roboto;
    margin-top: 20px;
    font-weight: 500
}

@media(max-width:768px) {
    .lead {
        font-size: 22px!important;
        font-weight: 400!important
    }
    .lead-sm {
        font-size: 20px!important
    }
}

.cta {
    margin-top: 100px
}

@media(max-width:768px) {
    .cta {
        display: none
    }
}

button.btn.btn-primary.banner {
    padding: 16px 24px
}

button.btn.btn-primary.video-btn {
    background: 0 0!important;
    color: #03a9f4;
    font-family: poppins;
    margin-left: -30px;
    font-weight: 400
}

.button.btn.btn-secondary.popup {
    width: 100%!important;
    margin-bottom: 36px;
    margin-right: 0!important;
    background: #03a9f4!important
}

@media(max-width:768px) {
    button.btn.btn-primary {
        display: none
    }
}

@media(max-width:768px) {
    button.btn.btn.btn-primary.video-btn {
        display: none
    }
}

button.btn.btn-secondary.banner {
    border: #03a9f4 solid 1px;
    color: #333;
    width: 190px!important
}

button.btn.btn-secondary.banner:hover {
    background: #03a9f4!important;
    color: #fff
}

button.btn.btn-primary.prize {
    margin: 0
}

@media(max-width:768px) {
    button.btn.btn-primary.prize.desktop {
        display: none
    }
    button.btn.btn-primary.prize.mobile {
        display: block!important;
        margin: 0 auto
    }
    a.android-link {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        font-family: poppins
    }
}

button.btn.btn-primary.prize.mobile {
    display: none
}

button.btn.btn-primary {
    height: 100%;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    margin-right: 30px;
    background: #f44e03!important;
    border: none;
    transition: transform .8s;
    padding: 16px 24px
}

.cta-button {
    background: #ff8400!important;
    color: #fff;
    font-family: poppins;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500
}

@media(max-width:768px) {
    button.btn.btn-primary {
        width: 150px;
        height: 50px;
        font-size: 14px;
        font-weight: 200
    }
}

button.btn.btn-primary:hover {
    background: #f5ad96!important;
    color: #131313
}

button.btn.btn-primary.banner.header-button:hover {
    background: #f5ad96!important;
    color: #131313
}

button.btn.btn-secondary {
    width: 190px;
    height: 100%;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    border: #333 solid 1px;
    background: 0 0;
    color: #333;
    padding: 16px 24px
}

@media(max-width:768px) {
    button.btn.btn-secondary {
        width: 150px;
        height: 50px;
        font-weight: 200;
        font-size: 16px
    }
}

@media(max-width:1056px) {
    button.btn.btn-secondary {
        margin-top: 12px
    }
}

@media(max-width:768px) {
    .second-title {
        font-size: 28px!important;
        text-align: center
    }
    .row.col-one-int {
        display: block!important;
        margin-top: 30px!important;
        margin-bottom: 0!important
    }
    .row.col-one-int-2 {
        display: block!important
    }
    ._col-sm.pl-int {
        width: 100%!important
    }
    .pl-int-title {
        width: 100%!important;
        margin-left: 0!important;
        text-align: center
    }
    .common-title {
        font-size: 24px!important;
        padding: 5px 20px;
        margin-top: 50px!important;
        line-height: 30px
    }
    .pl-int-icon {
        text-align: center;
        width: 100%!important;
        margin-bottom: 20px
    }
}

.second-title {
    text-align: center;
    font-size: 32px;
    font-family: poppins;
    color: #2b2b28
}

.row.col-one-int {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px
}

.row.col-one-int-2 {
    display: flex
}

.sp-bt {
    text-align: center;
    margin-top: 20px;
    font-size: 18px
}

.sp-bt a {
    color: #03a9f4
}

._col-sm.pl-int {
    background: #fff;
    margin-right: 20px;
    border-radius: 5px;
    transition: all .9s ease-in-out
}

._col-sm.pl-int:last-child {
    margin-right: 0
}

._col-sm.pl-int:hover {
    transition: all .9s ease-in-out;
    box-shadow: 0 0 11px rgb(33 33 33/0.2)
}

.pl-int-icon {
    display: inline-block;
    width: 50px;
    vertical-align: top;
    margin-top: 20px
}

.pl-int-wrapper {
    padding: 15px;
    padding: 15px;
    padding: 20px;
    border-radius: 5px
}

@media(max-width:768px) {
    .pl-int-wrapper {
        height: 100%;
        margin-bottom: 20px
    }
}

.pl-int-title {
    display: inline-block
}

.common-title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: #2b2b28;
    margin-bottom: 70px;
    font-family: poppins;
    margin-top: 100px
}

@media(max-width:768px) {
    .common-title {
        font-size: 24px!important;
        margin-bottom: 30px;
        padding: 20px;
        margin-bottom: 50px!important
    }
}

.__card {
    height: 100%
}

.__card img {
    width: 100%
}

.feature-title {
    font-size: 32px;
    font-weight: 400;
    color: #282828;
    margin-bottom: 30px;
    font-family: poppins;
    margin-left: 0;
    letter-spacing: .9px;
    line-height: 34px
}

@media(max-width:768px) {
    .feature-title {
        font-size: 24px;
        text-align: left;
        color: #282828;
        font-weight: 500;
        line-height: 30px;
        margin-left: 0!important;
        margin-right: 0!important
    }
}

.col-sm-5.left {
    margin-right: 30px;
    padding: 5px;
    float: left
}

@media(max-width:768px) {
    .col-sm-5.left {
        width: 100%;
        height: 100%;
        float: left;
        margin-left: 1px;
        margin-right: 1px;
        background: #ffff;
        z-index: 90;
        border-radius: 5px;
        margin-top: 2px;
        margin-bottom: 10px;
        padding-top: 30px;
        order: -1;
        padding-top: 0!important
    }
    .col-lg-3.col-md-4.col-sm-6.col-xs-12 {
        padding-top: 25px!important
    }
}

.col-sm-7.right {
    border-radius: 5px;
    vertical-align: super;
    float: right;
    padding: 1px
}

.col-sm-7.right.last {
    border-bottom: none
}

@media(max-width:768px) {
    .col-sm-7.right {
        width: 100%;
        margin: 1px 0 0 1px;
        height: 100%;
        float: left;
        border-bottom: 1px solid #f2f2f2
    }
}

.col-sm-7.right.alt {
    margin-left: 0;
    float: left
}

.__card-body {
    vertical-align: middle;
    position: relative;
    padding: 20px
}

@media(max-width:768px) {
    .__card-body {
        padding: 0;
        height: 100%;
        margin-top: 15px!important
    }
}

.feature-dec-col {
    display: flex;
    padding: 5px 0;
    margin-left: 24px
}

span.dot {
    height: 6px;
    width: 6px;
    background-color: #777;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    position: absolute
}

@media(max-width:768px) {
    .feature-dec-col {
        padding: 2px;
        margin-bottom: 5px;
        text-align: left;
        display: block;
        margin-left: 0!important
    }
    span.dot {}
}

.feature-dec-icon {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0;
    margin-left: 0
}

@media(max-width:768px) {
    .feature-dec-icon {
        margin-right: 10px;
        margin-left: 2px;
        display: none
    }
}

.feature-desc-text {
    font-size: 22px;
    color: #333;
    font-family: roboto;
    margin-bottom: 8px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 20px;
    letter-spacing: .9px
}

@media(max-width:768px) {
    .feature-desc-text {
        font-size: 18px;
        color: #666;
        line-height: 30px;
        margin-left: 20px;
        text-align: left
    }
    .col-sm-7.right {
        background: #fff;
        border-radius: 5px;
        float: right
    }
}

button.btn.btn-secondary.feature {
    border: #fff solid 1px;
    color: #03a9f4;
    font-weight: 400
}

.cta-secondary.feature {
    margin-top: 50px
}

@media(max-width:768px) {
    .cta-secondary.feature {
        position: relative;
        margin-top: 25px;
        text-align: center;
        padding-bottom: 30px
    }
}

button.btn.btn-secondary.feature:hover {
    letter-spacing: .9px;
    transition: all .4s 0s ease;
    color: #03a9f4;
    border: none
}

@media(max-width:768px) {
    .container.__vertical {
        display: flex;
        flex-direction: column;
        padding-top: 0!important
    }
}

.container.__vertical {
    display: flex;
    align-items: center;
    padding: 24px 0
}

.row.feature {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-bottom: 50px
}

@media(max-width:768px) {
    .row.feature {
        margin-bottom: 1px;
        margin-top: 0!important;
        padding-bottom: 0!important
    }
}

.row.feature.alt {
    background: #fff;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    padding-bottom: 50px
}

.col-lg-3.col-md-4.col-sm-6.col-xs-12 {
    width: 100%;
    padding: 0;
    padding-top: 0!important
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    cursor: default
}

.mobile-image {
    display: none
}

@media(max-width:768px) {
    .mobile-image {
        display: none
    }
}

@media(max-width:768px) {
    .hovereffect {
        display: block;
        width: 70%;
        margin: 0 auto;
        float: none
    }
}

.hovereffect img {
    display: block;
    position: relative;
    transition: all .8s cubic-bezier(.88, -.99, 0, 1.81);
    height: 100%
}

.col-sm-5.left._col-2 {
    margin-left: 0!important;
    margin-right: 5px;
    float: right
}

.seprater {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ddf4fd;
    height: 230px;
    margin-bottom: 100px;
    margin-top: 50px
}

@media(max-width:991px) {
    .col-sm.seprater-text h2 {
        font-size: 24px!important
    }
}

@media(max-width:768px) {
    .seprater {
        height: 100%!important;
        margin-bottom: 50px!important;
        padding-top: 0!important;
        padding-bottom: 0!important
    }
    .col-sm.seprater-text h2 {
        font-size: 18px!important;
        margin: 0;
        font-weight: 500!important;
        font-family: poppins;
        color: #2b2b2b!important;
        line-height: 30px
    }
    .container.sep {
        height: 100%!important;
        padding: 20px!important
    }
}

.row.seprater-left {
    position: relative;
    margin-top: 10px;
    text-align: center;
    width: 100%
}

.col-sm.seprater-text {
    text-align: center
}

.col-sm.seprater-text h2 {
    font-size: 32px;
    color: #414141;
    font-weight: 400
}

.col-sm.seprater-image {
    margin-right: 30px;
    display: inline-block
}

.col-sm.seprater-image img {
    width: 100%
}

.row.seprater-right {
    margin-top: 20px;
    text-align: center
}

.col-sm.seprater-image {
    width: 130px;
    margin-right: 30px
}

.container.sep {
    height: 175px;
    margin-top: 100px
}

.setup-wrapper {
    margin-top: -100px
}

@media(max-width:768px) {
    .setup-wrapper {
        margin-top: -30px
    }
    .row.seprater-right {
        display: none
    }
}

.select::after {
    background: #81cef0
}

.setup-content-wrapper {
    position: relative;
    text-align: center
}

@media(max-width:768px) {
    .setup-content-wrapper {
        display: none
    }
}

.desktop-setup {
    margin-top: 70px;
    display: flex
}

.circle-col-0-desktop {
    display: inline-block;
    border: 1px solid #f2f2f2;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    vertical-align: bottom;
    transition: all .9s ease-in-out
}

.circle-col-0-desktop:last-child {
    margin-right: 0
}

.circle-col-0-desktop:hover {
    transition: all .9s ease-in-out;
    box-shadow: 0 0 11px rgb(33 33 33/0.2)
}

svg.setup-arrow {
    height: 25px;
    width: 25px;
    margin: 145px 20px 17px;
    vertical-align: top
}

svg.setup-arrow-mobile {
    height: 18px;
    margin: 0 auto;
    width: 100%;
    transform: rotate(90deg);
    margin-top: 25px
}

.mobile-setup {
    display: inline-block;
    width: 100%;
    display: none
}

.circle-col-0 {
    margin: 0 auto;
    background: #fff;
    padding: 16px;
    margin-bottom: 10px
}

.circle-wrapper {
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center
}

.step {
    font-size: 22px;
    color: #666
}

.desktop-setup-text {
    display: block;
    font-size: 22px;
    margin-bottom: 15px;
    color: #282828;
    font-weight: 400
}

.desktop-setup-desc {
    display: block;
    font-size: 18px;
    color: #222;
    font-weight: 300;
    font-family: roboto;
    line-height: 30px;
    letter-spacing: .9px
}

@media(max-width:768px) {
    svg#rotate-trans {
        margin-top: 15px;
        width: 65px!important;
        height: 65px!important;
        left: 0;
        right: 0
    }
    .mobile-setup {
        display: block
    }
    h3.common-title.setup {
        margin-bottom: 0!important
    }
    .cta-download {
        text-align: center;
        margin-top: 10px!important;
        display: none
    }
    .setup-image-container {
        text-align: center;
        margin-top: 50px!important;
        margin-bottom: 50px!important;
        display: none
    }
}

.mobile-setup-text {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    color: #282828
}

.cta-download {
    text-align: center;
    margin-top: 50px
}

.setup-image-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px
}

h3.common-title.setup {
    margin-top: 100px
}

h3.common-title.prize {
    margin-top: 0
}

.container.setup {
    margin-bottom: 0
}

.container.payment {
    margin-top: 30
}

@media(max-width:768px) {
    .container.payment {
        padding: 20px!important;
        padding-top: 2px!important
    }
}

._card-prize {
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #f2f2f2
}

._card-prize:last-child {
    margin-right: 0
}

@media(max-width:768px) {
    ._card-prize {
        width: 100%;
        margin: 0 0 15px
    }
    ._card-prize:hover {
        box-shadow: none!important
    }
}

._card-prize:hover {
    box-shadow: 0 0 11px rgb(33 33 33/0.2);
    transition: all .5s ease-in-out
}

.py-6 {
    margin-bottom: 100px;
    display: flex;
    width: 100%;
    text-align: center
}

@media(max-width:768px) {
    .py-6 {
        margin-bottom: 30px;
        display: block
    }
    .testimonials-row-1 {
        display: block!important
    }
}

h6.sub-pr {
    text-align: center;
    font-size: 16px;
    color: #666;
    font-weight: 200
}

._card-body-prize {
    padding: 20px
}

.prise-text {
    display: block;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
    font-family: poppins;
    color: #282828
}

@media(max-width:768px) {
    .prise-text {
        font-size: 22px
    }
}

.text-col-1 {
    display: block;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    color: #222;
    font-family: roboto;
    letter-spacing: .9px;
    font-weight: 300
}

.text-col-2 {
    display: block;
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
    color: #333;
    font-weight: 500;
    color: #f44e03;
    font-family: roboto
}

.specialOffer {
    display: block;
    text-align: center;
    font-weight: 500;
    color: #f44e03;
    font-family: roboto;
    margin-top: 16px
}

@media(max-width:768px) {
    .text-col-2 {
        font-size: 22px
    }
}

.text-col-3 {
    display: block;
    text-align: center;
    font-size: 22px;
    letter-spacing: .9px;
    margin-top: 15px;
    color: #666;
    margin-bottom: 20px;
    font-family: roboto
}

.prize-dec {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-family: poppins;
    font-weight: 300
}

.division {
    border: #f2f2f2 solid 1px
}

.cta-prize {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px
}

.testimonials-row-1 {
    display: flex
}

.testimonials-main-1 {
    margin-bottom: 100px
}

.container.testimonials {
    padding-bottom: 50px!important;
    padding-top: 50px!important
}

@media(max-width:768px) {
    .testimonials-main-1 {
        margin-bottom: 30px
    }
    .container.testimonials {
        padding-top: 10px!important
    }
}

@media(max-width:768px) {
    .testimonials-main {
        width: 100%!important;
        margin-right: 0!important;
        display: block;
        margin-top: 20px!important;
        margin-bottom: 50px!important
    }
    .tst-hd {
        text-align: center
    }
    .tst-desp {
        text-align: center
    }
    .person-img {
        margin-top: -10px!important
    }
    .tst-name {
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 30px
    }
}

.testimonials-main {
    border: 1px solid #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    margin-top: 100px;
    margin-right: 25px;
    margin-bottom: 20px;
    background: #fff;
    transition: all .9s ease-in-out
}

.testimonials-main:hover {
    transition: all .9s ease-in-out;
    box-shadow: 0 0 11px rgb(33 33 33/0.2)
}

.tst-hd {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #2196f3
}

.tst-desp {
    font-weight: 300;
    color: #666;
    line-height: 25px;
    font-size: 18px;
    font-family: roboto;
    line-height: 30px;
    letter-spacing: .9px
}

.tst-name {
    font-size: 18px;
    font-weight: 500;
    color: #2b2b28;
    margin-top: 30px
}

.person-img {
    width: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -30px;
    position: absolute
}

.person-img img {
    width: 100%;
    border: 2px solid #03a9f4;
    border-radius: 50px
}

.row.report {
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 70px
}

@media(max-width:768px) {
    .row.report {
        display: block;
        padding: 2px 0;
        width: 100%!important;
        margin-top: 20px!important;
        margin-bottom: 2px!important
    }
    .report-wrapper {
        padding: 20px 0!important;
        background: #fff;
        vertical-align: bottom
    }
}

.morecontent span {
    display: none
}

.morelink {
    display: block;
    color: #f2f2f2;
    padding: 0;
    font-size: 16px;
    color: #03a9f4;
    font-weight: 300
}

.report-wrapper {
    padding: 20px;
    padding-bottom: 10px
}

._col-sm.report {
    display: inline-block;
    margin-right: 25px;
    vertical-align: top;
    transition: all .5s ease-in-out;
    border: 1px solid #f2f2f2
}

._col-sm.report:last-child {
    margin-right: 0
}

@media(max-width:768px) {
    ._col-sm.report {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px
    }
    ._col-sm.report:hover {
        box-shadow: none!important
    }
}

._col-sm.report:hover {
    color: #222;
    border-radius: 5px;
    transition: all .9s ease-in-out;
    box-shadow: 0 0 11px rgb(33 33 33/0.2)
}

.report-icon {
    display: inline-block
}

.report-title {
    vertical-align: top
}

.r-title {
    font-size: 22px;
    font-family: poppins;
    color: #282828;
    font-weight: 400
}

.pl-int-dec {
    font-size: 18px;
    font-weight: 300;
    color: #666;
    font-family: roboto;
    line-height: 30px;
    letter-spacing: .9px;
    margin-top: 15px
}

@media(max-width:768px) {
    .r-title {
        font-size: 22px;
        text-align: center;
        font-weight: 400!important;
        line-height: 30px
    }
    .pl-int-dec {
        text-align: center
    }
    .report-icon {
        text-align: center;
        display: block
    }
}

.report-dec {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    line-height: 26px;
    font-family: poppins;
    color: #313131
}

.report-dec p {
    font-weight: 300;
    color: #333;
    font-family: roboto;
    letter-spacing: .9px;
    line-height: 30px
}

.row.report-2 {
    display: flex;
    margin: 0 auto
}

@media(max-width:768px) {
    .row.report-2 {
        padding: 2px 0;
        margin-top: 2px;
        width: 100%;
        margin-bottom: 2px!important;
        display: block
    }
    .report-dec {
        text-align: center
    }
}

button.btn.btn-link {
    padding: 0;
    font-size: 16px;
    color: #03a9f4;
    font-weight: 300
}

@media(max-width:768px) {
    .faq-bk {
        margin-top: 16px!important
    }
    .panel-group {
        margin-top: 30px!important
    }
}

._row.seprater-3 {
    display: inline-block;
    margin-top: 80px;
    width: 100%
}

.col-sm.seprater-3 {
    display: inline-block;
    padding-top: 20px;
    vertical-align: top
}

.col-sm.seprater-3 h4 {
    margin: 0;
    vertical-align: top;
    font-size: 30px;
    text-align: left;
    font-weight: 400
}

span.pl-ft {
    font-size: 20px;
    float: left;
    font-weight: 300
}

.panel-group {
    margin-top: 80px
}

.panel-heading {
    padding: 30px;
    background-color: #fff!important;
    border-color: #fff;
    color: #414141
}

.panel-body {
    padding: 18px 0;
    margin-left: 35px;
    color: #666;
    line-height: 28px;
    font-weight: 200;
    font-size: 18px;
    font-family: roboto
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: inherit;
    font-family: poppins;
    color: #414141
}

.panel-title>a {
    font-weight: 400;
    line-height: 28px
}

.panel-default {
    border: 1px solid #fff
}

.glyphicon {
    position: relative;
    top: 5px;
    display: inline-block;
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 28px;
    margin-right: 20px
}

.row.report-2 {
    margin-bottom: 20px
}

h4.footer-header-title {
    margin-bottom: 30px!important;
    font-size: 18px!important
}

.ln-1 {
    border: 1px solid #f2f2f2
}

p.add {
    line-height: 23px;
    color: #313131;
    font-weight: 300
}

.col-sm.seprater-3.pl-ff {
    display: block;
    padding-top: 20px;
    margin-right: 20px;
    width: 650px
}

@media(max-width:768px) {
    .footer-cta {
        display: none
    }
    .col-sm.seprater-3 h4 {
        font-size: 18px!important
    }
    span.pl-ft {
        font-size: 16px!important
    }
    .col-sm.seprater-3.pl-ff {
        width: 100%!important;
        padding-top: 0
    }
    ._row.seprater-3.footer {
        text-align: left!important;
        margin-top: 1px!important
    }
    .seprater.footer {
        margin-top: 50px!important
    }
    .seprater.footer.sp-3 {
        display: none
    }
}

.download-ft {
    float: right;
    margin-top: -37px
}

@media(max-width:768px) {
    .download-ft {
        display: none;
        margin-top: 10px;
        margin-bottom: 1px;
        float: left
    }
    .social-icons {
        display: none
    }
}

.zsiq_cnt {
    visibility: hidden
}